.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__item {
  margin: 1rem;
}

.pagination__item {
  text-decoration: none;
}

.pagination__item--disabled {
    color: #bdbdbd;
    cursor: default
}
