.post-office-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .input__label {
  text-align: left;
} */

.input__field {
  margin-bottom: 1.5rem;
  display: block;
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  min-height: 38px;
  padding-left: 0.6rem;
  transition: all 100ms;
}

.input__field:hover {
  border-color: hsl(0, 0%, 70%);
}

.input__field:focus {
  box-shadow: 0 0 0 1px #2684ff;
}
