body {
  background-color: #eae5db;
  color: #5b71ab;
}

.main {
  margin-top: 2rem;
}

.app-container {
  margin-top: 1.5rem;
}

.pin-code-form-container,
.post-office-form-container,
.tabs,
.table-container {
  margin: auto;
  width: 90%;
}

.tabs {
  display: flex;
}

.tabs > * {
  flex-grow: 1;
}

.pin-code-form-container,
.post-office-form-container,
.tabs {
  max-width: 20rem;
}

.tab-panel {
  margin-top: 1.5rem;
}

a {
  color: #5b71ab;
}

a,
a:active {
  /* color: hsla(0, 0%, 0%, 0.8); */
  text-decoration: underline;
}

a:hover {
  /* color: hsl(0, 0%, 0%); */
  text-decoration: none;
}
