.main {
  margin-top: 3rem;
}

.pin-code-form-container,
.post-office-form-container,
.tabs,
.table-container {
  margin: auto;
  width: 90%;
}

.pin-code-form-container,
.post-office-form-container,
.tabs {
  max-width: 20rem;
}

.tab-panel {
  margin-top: 1.5rem;
}

a,
a:active {
  color: hsla(0, 0%, 0%, 0.8);
  text-decoration: none;
}

a:hover {
  color: hsl(0, 0%, 0%);
  text-decoration: underline;
}
